

h1 {
	color: brown;
	text-align: center;
}

#board {
	padding: 5px;
	background-color: #dbfaf6;
	height:400px;
	max-height:1000px;
}

td.square {
	/*width: 100%;*/
	/*height: 100%;*/
	/*display: grid;*/
	height: auto;
	width: auto;
	position: relative;
}
td.square.parity-true {
	background-color: red;
}
td.square.parity-false {
	background-color: blue;
}
div.horz-line {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	width: 100%;
	background-color: black;
	grid-area: header;
	animation: size 1s;
}
div.horz-line:hover {
	height: 15px;
}

div.vert-line {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 10px;
	background-color: yellow;
	grid-area: header;
	animation: size 1s;
}
div.vert-line:hover {
	width: 15px;
}

.clicked {
	border: solid black 1px;
}






