.next1div{
	margin: auto;
    width: 8.5%;
    border: none;
    padding: 10px;
}
.next1{
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.next1:hover, 
.next1:focus {
	color: #888;
	border: 1px solid #888;
	text-decoration: none;
	cursor: pointer;
}
.rulesheaderclass{
	text-align: center;
	font-weight: bold;
}
.firstpclass{
	text-align: center;
}
.firstimageclass{
	margin: auto;
	width: 10%;
}
.rules-button-class{
	font-family: "Verdana";
	background-color: #000;
	color: white;
	border: none;
	padding: 15px 32px;
	text-align center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	
}
.rules-button-class:hover, 
.rules-button-class:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
}
.rules-modal-class{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rbg(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.rules-modal-content{
	font-family: "Verdana";
	background-color: #000;
	color: white;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-rules-modal{
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-rules-modal:hover, 
.close-rules-modal:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
}












.next2div{
	margin: auto;
    width: 8.5%;
    border: none;
    padding: 10px;
}
.next2{
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.next2:hover, 
.next2:focus {
	color: #888;
	border: 1px solid #888;
	text-decoration: none;
	cursor: pointer;
}
.rule2headerclass{
	text-align: center;
	font-weight: bold;
}
.secondpclass{
	text-align: center;
}
.secondimageclass{
	margin: auto;
	width: 10%;
}

.rule2-modal-class{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rbg(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.rule2-modal-content{
	font-family: "Verdana";
	background-color: #000;
	color: white;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-rule2-modal{
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-rule2-modal:hover, 
.close-rule2-modal:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
}













.next3div{
	margin: auto;
    width: 8.5%;
    border: none;
    padding: 10px;
}
.next3{
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.next3:hover, 
.next3:focus {
	color: #888;
	border: 1px solid #888;
	text-decoration: none;
	cursor: pointer;
}
.rule3headerclass{
	text-align: center;
	font-weight: bold;
}
.thirdpclass{
	text-align: center;
}
.thirdimageclass{
	margin: auto;
	width: 10%;
}

.rule3-modal-class{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rbg(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.rule3-modal-content{
	font-family: "Verdana";
	background-color: #000;
	color: white;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-rule3-modal{
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-rule3-modal:hover, 
.close-rule3-modal:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
}















.next4div{
	margin: auto;
    width: 8.5%;
    border: none;
    padding: 10px;
}
.next4{
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.next4:hover, 
.next4:focus {
	color: #888;
	border: 1px solid #888;
	text-decoration: none;
	cursor: pointer;
}
.rule4headerclass{
	text-align: center;
	font-weight: bold;
}
.fourthpclass{
	text-align: center;
}
.fourthimageclass{
	margin: auto;
	width: 10%;
}

.rule4-modal-class{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rbg(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.rule4-modal-content{
	font-family: "Verdana";
	background-color: #000;
	color: white;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-rule4-modal{
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-rule4-modal:hover, 
.close-rule4-modal:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
}
